<!DOCTYPE html>

<html>
    <head lang="en">
        <meta charset="UTF-8" />
    </head>
    <body>
        <p>Hello {{ username }},</p>
        <p>
            Your account will be <strong>deactivated</strong> in <strong>1 day</strong>
            since you have not logged into the platform within the last <strong>89 days</strong>.
            Please log in within the next <strong>day</strong> or you account will be deactivated.
        </p>
        <p>
            Thank you,<br />
            The cloud.gov team
        </p>
    </body>
</html>
