<!DOCTYPE html>

<html>
    <head lang="en">
        <meta charset="UTF-8" />
    </head>
    <body>
        <p>Hello {{ username }},</p>
        <p>
            Your account has been <strong>deactivated</strong>
            for security purposes because of prolonged inactivity.
        </p>
        <p>
            If you need your account to be reactivated, please email
            <a href="mailto:support@cloud.gov">support@cloud.gov</a>
            within the last <strong>90 days</strong>.
        </p>
        <p>
            Thank you,<br />
            The cloud.gov team
        </p>
    </body>
</html>
