<!DOCTYPE html>

<html>
    <head lang="en">
        <meta charset="UTF-8" />
    </head>
    <body>
        <p>Hello,</p>
        <p>
            Your account will be <strong>deactivated</strong> in <strong>1 day</strong>
            because of account inactivity.
            Please log in at <a href="https://login.fr.cloud.gov/login">login.fr.cloud.gov/login</a>
            within the next <strong>day</strong> or your account will be deactivated.
        </p>
        <p>
            Thank you,<br />
            The cloud.gov team
        </p>
    </body>
</html>
